/*!
 *AMPD 
 */

body {
    margin-top: 50px;
    margin-bottom: 50px;
    background: none;
}
.subtext {
    font-family: 'Droid Serif', serif;
    font-weight: 400;
    font-size: 15px;
    color: #bababa;
    margin-bottom: 20px;
    margin-top: 10px;
}
#sideBar {
    margin-top: 30px;
    position: absolute;
    width: 8px;
    height: 93px;
    background: url("http://i.imgur.com/HNdbMzl.jpg") no-repeat;
    background-size: 8px 93px;
}
#logout {
    width: auto;
    display: inline-block;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    height: auto;
    margin-top: -30px;
}
#logout a {
    color: #fff;
}
.full {
    background-image: url("http://i.imgur.com/GOp7A1D.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
}
.program {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("http://i.imgur.com/L3qOD3I.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.va {
    background-image: url("http://i.imgur.com/4voNN7i.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
     background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 80px;
    color: #fff;
}
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 70px;
    color: #fff;
}
h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: #fff;
}
h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: black;
}
h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
}
#overLine {
    background: url("http://i.imgur.com/QxNoGHd.png") no-repeat;
    background-size: 20% 15px;
    padding-top: 5px;
    height: 70px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: white;
    margin-left: -15px;
}
a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: white;
}
a:active {
    text-decoration: none;
    color: white;
}
#vertAlign {
    margin-top: -10px;
}
.fa-angle-right {
    color: #db0000;
}
.fa-angle-left {
    color: #db0000;
}
.fa-caret-right {
    color: #db0000;
}
.fa-power-off {
    color: #db0000;
    margin-right: 10px;
}
.fa-question-circle {
    color: #db0000;
}

.fa-home {
    color: #db0000;
}
.fa-dollar {
    color: #db0000;
}

.fa-cloud-upload {
    color: #db0000;
}
.fa-file-image-o {
    color: #db0000;
}
.fa-check-circle-o {
    color: #4bd21c;
}
a#signin {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: #999;
}
a#programButt {
    float: right;
    display: inline-block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #797878;
}
a#continueButton {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: black;
}
a#nextButton {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: #fff;
    float: right;
}
a#prevButton {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #fff;
}
.greyText {
    color: #999;
}
#sideCircle {
    margin-top: 80px;
    position: absolute;
}
.subtext1 {
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #bababa;
}
.questions {
    font-family: 'Droid Serif', serif;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
}
ul {
    list-style: none;
    display: inline;
}
li {
    display: inline;
}
.savebutton {
    border: none;
    background: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: #19c712;
}
.upload {
    border: none;
    background: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #999;
}
#uploadButton {} #portfolio {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: white;
}
#fileName {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: white;
}
.suppHeading {
    float: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 80px;
    color: #fff;
    line-height: 110%;
    margin-top: 20px;
}
.programName {
    position: absolute;
    z-index: -1;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #e7e7e7;
    margin-right: 0px;
    line-height: 110%;
    margin-top: 133px;
    margin-left: 400px;
}
.InterviewProgramName {
    position: absolute;
    z-index: -1;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #e7e7e7;
    line-height: 110%;
    margin-top: 45px;
    margin-left: -80px;
}
.OnlineEvalProgramName {
    position: absolute;
    z-index: -1;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #e7e7e7;
    line-height: 110%;
    margin-top: 40px;
    margin-left: -250px;
}
#progressBar {
    visibility: hidden;
}
#preview {
    color: white;
    position: absolute;
    width: 90%;
    height: 70%;
    z-index: -1;
}
#uploadStep {
    visibility: hidden;
}
.white {
    color: white;
}
.black {
    color: black;
}
.white a {
    text-decoration: none;
    color: white;
}
.black a {
    text-decoration: none;
    color: black;
}
/* Portrait tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {}
/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
    #sideCircle {
        visibility: hidden;
    }
    #messages {
        visibility: hidden;
    }
    #orLine {
        visibility: hidden;
        margin-bottom:-627px;
    }
}
/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    #sideCircle {
        visibility: hidden;
    }
    #messages {
        visibility: hidden;
    }
    #ampdLogoText {
        visibility: hidden;
        height: 0px;
        margin-bottom: -15px;
    }
    #orLine {
        visibility: hidden;
        margin-bottom:-627px;
    }
}
/* Landscape phones and smaller */

@media (max-width: 480px) {
    #sideCircle {
        visibility: hidden;
    }
    #messages {
        visibility: hidden;
    }
    #ampdLogoText {
        visibility: hidden;
        height: 0px;
        margin-bottom: -15px;
    }
    #orLine {
        visibility: hidden;
        margin-bottom:-627px;
    }
}
#pageCount {
    border: none;
    background: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: white;
    margin-left: 30%;
}
#saveQuit {
    background-color: red;
}
#centerScreen {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 600px;
    height: 100px;
    margin: auto;
    margin-top: 200px;
}
.textCenter {
    text-align: center;
}
.statusComplete {
    color: #4bd21c;
}
.fa-circle-thin {
    color: #4bd21c;
}
#filedrag {
    display: none;
    font-weight: bold;
    text-align: center;
    height: 45%;
    padding: 1em 0;
    margin-left: 30px;
    margin-top: -20px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    border: 2px dashed #fff;
    border-radius: 7px;
    cursor: copy;
}
#filedrag.hover {
    color: #fff;
    border-color: #f00;
    border-style: dashed;
}
#messages {
    color: #fff;
}
.fileBorder {
    border: 1px solid #fff;
    background: #999;
}
.positionClass {
    z-index: 999;
    position: absolute;
    width: 100%;
}
.fileText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #000;
}
#ampdLogo {
    margin-left: 20px;
    margin-top: -5px;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #db0000;
}
#ampdLogoText {
    margin-left: 10px;
    width: 300px;
    line-height: 1em;
    margin-top: 10px;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
}
#orLine {
    z-index: -999;
    position: relative;
    top: 0;
    margin-top: -200px;
    left: 50%;
    width: 49px;
    height: 627px;
    background: url("http://i.imgur.com/LrtpX05.png") no-repeat bottom center scroll;
    background-size: 49px 627px;
}
.topSpace {
    margin-top: 20px;
}



#deletePadding {
    position: absolute;
    
}
