/*!
 *AMPD 
 */

body {
    margin-top: 50px;
    margin-bottom: 50px;
    background: none;
}
.subtext {
    font-family: 'Droid Serif', serif;
    font-weight: 400;
    font-size: 20px;
    color: #bababa;
    margin-top:20px;
    margin-bottom: 20px;
}
#sideBar {
    margin-top: 10px;
    position: absolute;
    width: 8px;
    height: 93px;
    background: url("http://i.imgur.com/HNdbMzl.jpg") no-repeat;
    background-size: 8px 93px;
}
#logout {
    right: 0;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    margin-right: 20px;
    height: 100px;
    margin-top: -40px;
}
.full {
    background-image: url("http://i.imgur.com/GOp7A1D.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.program {
    background-image: url("http://i.imgur.com/L3qOD3I.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.va {
    background-image: url("http://i.imgur.com/4voNN7i.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 100px;
    color: #fff;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 70px;
    color: #fff;
}
h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: #999;
}
#overLine {
    background: url("http://i.imgur.com/QxNoGHd.png") no-repeat;
    background-size: 20% 15px;
    padding-top: 5px;
    height: 70px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: white;
    margin-left: -15px;
}
a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: white;
}
a:active {
    text-decoration: none;
    color: white;
}
#vertAlign {
    margin-top: -10px;
}
.fa-angle-right {
    color: #ce301b;
}
.fa-angle-left {
    color: #ce301b;
}
.fa-caret-right {
    color: #ce301b;
}
.fa-power-off {
    color: #ce301b;
}
.fa-question-circle {
    color: #ce301b;
}
.fa-upload {
    color: #ce301b;
}
.fa-home {
    color: #ce301b;
}
a#signin {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: #999;
}
a#nextButton {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
     font-size: 30px;
    color: #fff;
    float: right;
}
a#prevButton {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #fff;
}
#theatreBtn {
    width: 141px;
    height: 141px;
    background: url("http://i.imgur.com/7ybgWnc.png") no-repeat;
    background-size: 141px 141px;
}
#musicBtn {
    width: 141px;
    height: 141px;
    background: url("http://i.imgur.com/JA3x1HC.png") no-repeat;
    background-size: 141px 141px;
}
#visualBtn {
    width: 141px;
    height: 141px;
    background: url("http://i.imgur.com/8lLkzqJ.png") no-repeat;
    background-size: 141px 141px;
}
.greyText {
    color: #999;
}
#sideCircle {
    position: absolute;
}
.subtext1 {
    width:70%;
    text-align: center;
    margin-top:5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #bababa;
}
.questions {
    font-family: 'Droid Serif', serif;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
}
ul {
    list-style: none;
    display: inline;
}
li {
    display: inline;
}
.savebutton {
    border: none;
    background: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: #19c712;
}
.upload {
    border: none;
    background: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #999;
}
#uploadButton {
    border: none;
    background: none;
    text-decoration: none;
    color: #000;
    visibility: hidden;
}
#portfolio {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: white;
}
#fileName {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: white;
}
.suppHeading {
    float: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 80px;
    color: #fff;
    line-height: 110%;
}
.programName {
    position:absolute;
    z-index: -1;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #e7e7e7;
    margin-right: 0px;
    line-height: 110%;
    margin-top: 113px;
    margin-left:400px;
    
}
#progressBar {
    visibility: hidden;
}
#preview {
    color: white;
    position: absolute;
    width: 90%;
    height: 70%;
    z-index: -1;
}